# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments variables
.env

# Secrets
ticketia-bot-*.json
google_credentials.json

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Secretos de Google (NUNCA SUBIR)
client_secrets.json
token.json
ticketia-bot-*.json