# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments variables
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets & Config
client_secrets.json
ticketia-bot-*.json
token.json

# Database
instance/
*.db
*.sqlite3
