flask
openai
pgvector
pypdf
pymupdf4llm
python-dotenv
psycopg2-binary
pandas
xlsxwriter
flask-sqlalchemy
flask-mail
flask-admin
fpdf
python-dateutil
matplotlib
requests
python-pptx
Pillow
runwayml
gunicorn[gevent]
gevent
pytest
deepeval
mcp[cli]
duckduckgo-search
flask-limiter
APScheduler
pywebpush