{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Nueva Contraseña</h3>

                <form method="POST">
                    <div class="mb-3">
                        <label for="password" class="form-label">Introduce tu nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Guardar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}