.git
.gitignore
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.log

# Entornos virtuales
venv/
env/
.env

# Directorios de IDEs
.vscode/
.idea/

# Carpetas de datos locales (opcional)
*.sqlite3
TICKETIA_PRO/db_data/
TICKETIA_PRO/static/uploads/

# Archivos del sistema
.DS_Store
Thumbs.db
